html{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
body{
	background-image: url("../img/background.jpg");
	background-color: #d6e4e0;
	font-family: 'Questrial', sans-serif;
}
.site-title{
    font-family: 'Orbitron', sans-serif;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	text-shadow: 2px 2px grey;
}
.site-nav{
	text-align: center;
	text-shadow: 1px 1px grey;
}
.hero{
	padding-left: 0;
	padding-right: 0;
}
.hero-banner{
	width: 100%;
	position: absolute;
	bottom: 0;
	min-height: 30px;
	text-align: center;
	background-color: rgba(0,0,0,1);
	color: white;
	opacity: 0.5;
	transition-duration: 0.5s;
}
.hero-banner:hover{
	opacity: 0.8;
}
.hero-banner div{
	padding-top: 3px;
}
.hero-left-arrow{
	position: absolute;
	bottom:7px;
	left:30px;
	opacity: 0.7;
	transition-duration: 0.5s;
}
.hero-left-arrow img{
	width:30px;
}
.hero-left-arrow:hover{
	opacity: 1;
	cursor:pointer;
}

.hero-right-arrow{
	position: absolute;
	bottom:7px;
	right:30px;
	opacity: 0.7;
	transition-duration: 0.5s;
}
.hero-right-arrow img{
	width:30px;
}
.hero-right-arrow:hover{
	opacity: 1;
	cursor:pointer;
}


#img-hero {
	width: 100%;
	margin:  0;
}
.side-bar-title{
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.side-bar{
	position: fixed;
	top:0;
	left:0px;
	background-color: rgba(255,255,255,.99);
	color:grey;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
	width: 360px;
	opacity:1;
	transition-property: left, opacity;
    transition-duration: 0.3s, 1s;
}
.hide{
	opacity:0.3;
	left:-400px;	
}
.HideButtn{
	position: absolute;
	opacity: 30%;
	right:5px;
}
.HideButtn:hover {
	cursor: pointer;
}
.HideButtn img{
	width: 30px;
}
.side-bar-contact{
	padding-left: 70px;
	padding-right: 70px;
	background-color: #e4e2e2;
	height: 60px;
}
.social{
	margin:auto;
}
.social img{
	width: 48px;
}

.social :hover{
	background-color: #e4e2e2;
	box-shadow: 0px 3px grey;
	cursor: pointer;
}

.side-bar-content{
	margin-top:25px;
}
#potrait-img{
	border-radius: 100%;
	width:60%;
	display: block;
	margin-top:25px;
	margin-bottom: 25px;
	margin-left:auto;
	margin-right:auto;
}

.portfolio-title{
	margin-top: 20px;
}

.portfolio-row{
	text-align: center;
}
.portfolio img{
	width: 100%;
}

.copyright{
	text-align: center;
	color:grey;	
}

.copyright-info{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
}
