html{
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	background-color: #d6e4e0;
}
.site-title{
	text-align: left;
}
.site-nav{
	text-align: center;
}
.hero-banner{
	width: calc(100% - 30px);
	position: absolute;
	bottom: 0;
	min-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: white;
	overflow: hidden;
}

#img-hero {
	width: 100%;
}

.side-bar{
	position: absolute;
	top:0;
	left:0;
	background-color: rgba(255,255,255,.99);
	color:grey;
	height: 100%;
	z-index: 1;
	width: 35%;
}

.side-bar-content{
	margin-top:25px;
}
#potrait-img{
	border-radius: 100%;
	width:75%;
	display: block;
	margin-top:25px;
	margin-bottom: 25px;
	margin-left:auto;
	margin-right:auto;
}

.portfolio-row{
	text-align: center;
	height:250px;
}

.copyright{
	text-align: center;
	height:250px;
	color:grey;	
}

.copyright-info{
	width: 100%;
}
