html{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
body{
	background-color: #d6e4e0;
	font-family: 'Questrial', sans-serif;
}
.site-title{
    font-family: 'Orbitron', sans-serif;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	text-shadow: 2px 2px grey;
}
.site-nav{
	text-align: center;
	text-shadow: 1px 1px grey;
}
.hero{
	padding-left: 0;
	padding-right: 0;
}
.hero-banner{
	width: 100%;
	position: absolute;
	bottom: 0;
	min-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: white;
	overflow: hidden;
}

#img-hero {
	width: 100%;
}
.side-bar-title{
	margin-top: 10px;
}
.side-bar{
	position: fixed;
	top:0;
	left:-0px;
	background-color: rgba(255,255,255,.99);
	color:grey;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
	width: 360px;
}
.side-bar-contact{
}
.social{
	margin:auto;
}

.side-bar-content{
	margin-top:25px;
}
#potrait-img{
	border-radius: 100%;
	width:75%;
	display: block;
	margin-top:25px;
	margin-bottom: 25px;
	margin-left:auto;
	margin-right:auto;
}

.portfolio-title{
	margin-top: 20px;
}

.portfolio-row{
	text-align: center;
}
.portfolio img{
	width: 100%;
}

.copyright{
	text-align: center;
	color:grey;	
}

.copyright-info{
	margin-top: 30px;
	width: 100%;
}
