html{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
body{
	background-image: url("../../img/background.jpg");
	background-color: #d6e4e0;
	background-attachment: fixed;
	font-family: 'Questrial', sans-serif;
}
.site-title{
    font-family: 'Orbitron', sans-serif;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	text-shadow: 2px 2px grey;
}
.site-nav{
	text-align: center;
	text-shadow: 1px 1px grey;
}
.hero{
	padding-left: 0;
	padding-right: 0;
	position: relative;
	overflow: hidden;
}
.hero-row{
	padding-bottom: 10px;
}

.img-hero{
	position: absolute;
	opacity: 0;
	left: 0;
	width: 100%;
	margin:  0;
	-webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
    overflow: hidden;
}

.img-hero-half{

	position: absolute;
	opacity: 0;
	left: 0;
	width: 54.05%;
	margin:  0;
    overflow: hidden;
    transition-property: left,width,opacity;
    transition-duration: 0.1s;
}

.hero-placeholder{
	opacity:0;
	position: relative;
	overflow: hidden;
}

.unhide{
	opacity:1;
    overflow: hidden;
}
.unhide-left{
	opacity:0.6;
	top:30%;
	width: 21.62%;	
	left: 0;
	border-radius: 10%;
	overflow: hidden;
	-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
}
.unhide-middle{
	opacity: 1;
	left: 22.82%;
	border-radius: 10%;
	overflow: hidden;
	-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
}
.unhide-right{
	opacity: 0.6;
	top:30%;
	width: 21.62%;	
	left: 78.08%;
	border-radius: 10%;
	overflow: hidden;
	-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
}
.unhide-far-left{
	opacity:0;
	top:30%;
	width: 21.62%;	
	left: -150%;
	border-radius: 10%;
	overflow: hidden;
}

.unhide-far-right{
	opacity:0;
	top:30%;
	width: 21.62%;	
	left: 100%;
	border-radius: 10%;
	overflow: hidden;
}

.hero-banner{
	width: 100%;
	position: absolute;
	bottom: 0px;
	min-height: 40px;
	text-align: center;
	background-color: rgba(0,0,0,1);
	color: white;
	opacity: 0.6;
	transition-duration: 0.5s;
	overflow: hidden;
}
.hero-banner:hover{
	opacity: 0.9;
}
.hero-banner div{
	padding-top: 7px;
}
.hero-left-arrow{
	position: absolute;
	bottom:10px;
	left:10px;
	opacity: 0.6;
	transition-duration: 0.5s;
}
.hero-left-arrow img{
	width:30px;
}
.hero-left-arrow:hover{
	opacity: 1;
	cursor:pointer;
}

.hero-right-arrow{
	position: absolute;
	bottom:10px;
	right:10px;
	opacity: 0.7;
	transition-duration: 0.5s;
}
.hero-right-arrow img{
	width:30px;
}
.hero-pause-play {
	position: absolute;
	bottom: 10px;
	right:60px;
	opacity: 0.7;
	transition-duration: 0.5s;
}
.hero-pause-play img{
	width:30px;
}
.hero-pause-play:hover{
	opacity: 1;
	cursor:pointer;
}
.hero-right-arrow:hover{
	opacity: 1;
	cursor:pointer;
}

.side-bar-title{
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.side-bar{
	position: fixed;
	top:0;
	left:0px;
	background-image: url("../../img/background-side-bar.jpg");
	color:grey;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
	width: 360px;
	opacity:1;
	transition-property: left, opacity;
    transition-duration: 0.3s, 1s;
    box-shadow: 4px 1px 20px 0px #ccc;
    text-align: justify;
}
.side-bar span{
	font-size: 0.9em;
	line-height: 0.4;
	padding: 0px 5px 0px 5px;
}

.side-bar div{
	margin-bottom: 5px;
}

.hide{
	opacity:0.3;
	left:-400px;	
}
.HideButtn{
	position: absolute;
	opacity: 30%;
	right:5px;
}
.HideButtn:hover {
	cursor: pointer;
}
.HideButtn img{
	width: 30px;
}
.side-bar-contact{
	padding-left: 70px;
	padding-right: 70px;
	background-color: #e4e2e2;
	height: 60px;
}
.social{
	margin:auto;
}
.social img{
	width: 48px;
}

.social :hover{
	background-color: #e4e2e2;
	box-shadow: 0px 3px grey;
	cursor: pointer;
}

.side-bar-content{
	margin-top:25px;
}
#potrait-img{
	border-radius: 100%;
	width:60%;
	display: block;
	margin-top:25px;
	margin-bottom: 25px;
	margin-left:auto;
	margin-right:auto;
}

.portfolio-title{
	margin-top: 10px;
}

.portfolio-row{
	text-align: center;
}
.portfolio img{
	width: 100%;
	margin-bottom: 5px;
	margin-top: 10px;
}

.link-title{
	margin-top: 20px;
}

.link-list li{
	padding-left: 30px;
}

.copyright{
	text-align: center;
	color:grey;	
	margin-bottom: 10px;
}

.copyright-info{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.resume-header{
	font-weight: bold;
	padding-top: 10px;
}

.resume-sub{
	padding-left:50px;
}

.wenhe-photo img{
	width:250px;
	padding-bottom: 20px;
}
.skills a{
	background-color: rgba(91, 192, 222, 0.3);
	color:black;
	padding:2px;
	display: inline-block;
	border-radius: 10%;
}
.skills div{
	padding: 0;
	margin-left: 12px;
	margin-bottom: 8px;
	float:left;
}

.profession ul{
	padding:0;
}

.schoolname{
	font-weight: bold;
	padding-top: 8px;
	position: relative;
}
.location{
	padding-top: 8px;
}

.degree{
	font-size: 90%;
	font-style: italic;
}
.schoollogo{
	width: 100%;
	position: absolute;
	top: 0px;
	
}
.schoollogo img{
	position: inherit;
	height: 50px;
	opacity: 0.7;
	left:-80px;
	transition-property: left,height;
    transition-duration: 0.3s,0.3s;

}

.schoollogo img:hover{
	left:-70px;
	height: 60px;
}

.album-view img{
	width:100%;
	margin-top:10px;
	margin-bottom: 0px;
	position: relative;
}

.album-view a{
	text-align: center;
	display: block;
}

.album-view{
	margin-bottom: 20px;
}

.album-img-div{
	width:100%;
	position: relative;
	overflow: hidden;

}

.album-desc{
	position: absolute;
	width:100%;
	bottom: -20%;
	background-color: black;
	opacity: 0.0;
	height: 35%;
	left:0;	
	overflow: hidden;

}
.album-title-url{
	opacity: 1;
	white-space: nowrap;
	display: inline-block;
	font-size: 1.5em;
	color: yellow;
}

.album-desc a:hover{
	color:yellow;
}
.album-desc a:visited{
	color:lightgreen;
}

.album-desc p{
	margin-left: 10px;
	opacity: 0.9;
	color: orange;
	display: inline-block;
	font-size: 0.9em;
}

.album-arrow-left{
	position: absolute;
	width:5%;
	left:1%;
	bottom:30%;
}

.album-arrow-right{
	position: absolute;
	width:5%;
	right:1%;
	bottom:30%;
}

.album-arrow-left:hover{
	cursor: pointer;
}

.album-arrow-right:hover{
	cursor: pointer;
}

.album-x-url{
	color:#c7c7fb;
	font-size: 0.8em;
}


.album-view:hover .album-desc{
	opacity: 0.6;
	transition-property: bottom, opacity;
    transition-duration: 0.01s, 1s;
}

.album-desc:hover{
	bottom: 0;
	opacity: 0.9;
	transition-property: bottom, opacity;
    transition-duration: 0.01s, 1s;
}

.album-desc:hover p{
	display: none;
	transition-property: opacity;
    transition-duration:  1s;
}

.album-desc:hover span{
	opacity:  1;
	transition-property:  opacity;
    transition-duration:  1s;
}

.album-desc span{
	margin-left: 10px;
	display: block;
	opacity: 0;
	color: white;
	font-size: 0.9em;
	padding-left: 5px;
	padding-right: 5px;
}
